

body{
background-color: #dcd4d4;
}
/*--------------------------------------------Navigation*/

.navbar{
    background-color: #dcd4d4;
}

.navbar-brand{
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;

}

ul li a{
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;

}

/*--------------------------------------------Hero*/

.hero-image{
    background-image: url(../images/table1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
}

.hero-text{
    text-transform: uppercase;
    text-align: center;
    font-family: 'bebasneueregular', sans-serif;
    color: gold;
    margin: 45px auto;
    

}

/*--------------------------------------------About*/


.container-about{
    margin-top: 50px;

}

.about{
    text-align: center;
    width: 95%;
    margin: auto;
}
p{
    font-family: 'Oswald', sans-serif;

    

}

i{
    margin-top: 50px;
    margin-bottom: 25px;
    text-transform: uppercase;
    font-size: 30px;
    font-family: 'bebasneueregular', sans-serif;
    letter-spacing: 5px;
    color: brown;
}

/*--------------------------------------------Cards*/
.card{
    margin-right: 6.5%;
    margin-top: 20px;
    display: inline-block;
}

.container{
    width: 90%;
    margin: 15px auto;
    text-align: center;
}

.card-img-top{
    width: 100%;
    height: 100%;
}

h5{
    text-transform: uppercase;
    font-family: 'bebasneueregular', sans-serif;
    
}

/*--------------------------------------------Footer*/
.mb-5{
text-align: center;
}

/*--------------------------------------------Media Queries*/

@media only screen and (max-width: 1210px) {
.card{
    width: 12rem;
}


}

/*--------------------------------------------Contact-form*/


.textarea{
    width: 100%;

}